@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&family=Syne:wght@400..800&display=swap');
/* Elimina el desplazamiento horizontal */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    height: 100%; /* Asegura que el cuerpo ocupe toda la altura */
    scrollbar-width: none;
}

body {
    background-image: url(galaxia.webp);
    background-size: cover;
}

footer {
    margin: 0;
    padding: 0;
    border: 0;
}

h2 {
    color:white;
}

.subtitleMenor {
    font-family: "Space Grotesk", sans-serif;
    font-weight: bolder;
}

/*Contenido introductorio al Index*/
.introContent {
    background-color: #0b3d91;
}

.inputDivIntro {
    margin-top: 5rem;
}

.introTitle {
    font-size: 80pt;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bolder;
    color: rgb(179, 217, 248);
}

.introSubTitle {
    font-size: 40pt;
    font-family: "Space Grotesk", sans-serif;
    font-weight: lighter;
    text-align: left;
    line-height: 1;
    margin-bottom: 2rem;
}

.introText {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

/* Si es necesario, ajusta el contenedor de imágenes */
#contenido {
    padding: 0;
    margin: 0;
}

.modal-body img {
width: 100%;
vertical-align: middle;
}

a p {
    text-decoration: none;
    color:black;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra inicial */
}

.card:hover {
    transform: translateY(-10px); /* Mover hacia arriba 10px */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Incrementar la sombra */
    background-color: rgb(241, 241, 255);
}

.rounded-div {
    width: 100%;             /* Ancho del div */
            height: 50%; 
    border-bottom-left-radius: 100%;  /* Esquina inferior izquierda redondeada */
            border-bottom-right-radius: 100%;
            transition: all 0.3s ease;
}

.rounded-div:hover {
    height: 60%;
    transition-duration: 1s;
    
}

.card {
    margin: 0.1rem; /* Reduce el margen entre tarjetas */
}

.carousel-inner .row {
    gap: 0.5rem; /* Controla el espacio entre filas y columnas */
}

.text-justify {
    text-align: justify;
}

#catImg {
    max-width: 100%;
    height: auto;
    }

#catIntro p {
    vertical-align: middle;
}

.rounded-div2 {
    width: 100%;             /* Ancho del div */
            height: auto; 
    border-bottom-left-radius: 100%;  /* Esquina inferior izquierda redondeada */
            border-bottom-right-radius: 100%;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.verMas {
    margin-left: 3rem;
}